.card-pokemon {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  
.card-pokemon >  .card-pokemon-number {
    padding: 10px 30px;
    text-transform: capitalize;
    font-weight: 600;
    background: #00B4DB;
    color: #dfdfdf;
    background: -webkit-gradient(linear, left top, right top, from(#00B4DB), to(#0083B0));
    background: linear-gradient(to right, #00B4DB, #0083B0);
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: 0;
    border-radius: 5px;
  }
  
  .card-pokemon >  .info__pokemon-name {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #f5f3f3;
    margin: 0;
  }
  
  .card-pokemon > .pokemon-container-img {
    width: 100%;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding: 10px;
  }
  
  .card-pokemon >  .pokemon-container-img > .pokemon-img {
    z-index: 1;
    max-width: 350px;
    max-height: 350px;
    min-height: 300px;
    min-height: 300px;
    -webkit-filter: drop-shadow(0 0 4px #0f0c29d0);
            filter: drop-shadow(0 0 4px #0f0c29d0);
  }
  
  .card-pokemon > .info__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
  }
  
  .card-pokemon > .info__general > .info__pokemon-type {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #dfdfdf;
    font-weight: 600;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .card-pokemon > .info__general > .info__pokemon-type > img {
    width: 48px;
    height: 48px;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  }
  
  .card-pokemon > .info__general > .info__pokemon_size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: -5px;
    width: 100%;
    color: #dfdfdf;
  }
  
  .card-pokemon > .info__general > .info__pokemon_size > .info__pokemon-exp {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #aaa9a9;
  }
  
  .card-pokemon > .info__general > .info__pokemon_size > p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  
  .card-pokemon > .info__general > .info__pokemon_size > p > span {
    font-size: 14px;
    text-transform: lowercase;
  }
@keyframes imgAnimate{
  0%{
   opacity: 0;
  }
  100%{
   opacity: 0;
  }
}

