.card-pokemon {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.card-pokemon > .card-pokemon-number {
  padding: 10px 30px;
  text-transform: capitalize;
  font-weight: 600;
  background: #00b4db;
  color: #dfdfdf;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#00b4db),
    to(#0083b0)
  );
  background: linear-gradient(to right, #00b4db, #0083b0);
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: 0;
  border-radius: 5px;
}

.card-pokemon > .info__pokemon-name {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f5f3f3;
  margin: 0;
}

.card-pokemon > .pokemon-container-img {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.card-pokemon > .pokemon-container-img > .pokemon-img {
  z-index: 1;
  max-width: 350px;
  max-height: 350px;
  min-height: 300px;
  min-height: 300px;
  filter: drop-shadow(0 0 30px #0f0c29d0);
}

.card-pokemon > .info__general {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card-pokemon > .info__general > .info__pokemon-type {
  width: 100%;
  display: flex;
  color: #dfdfdf;
  font-weight: 600;
  justify-content: center;
}

.card-pokemon > .info__general > .info__pokemon-type > img {
  width: 48px;
  height: 48px;
  transform: translateX(5px);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.card-pokemon > .info__general > .info__pokemon_size {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -5px;
  width: 100%;
  color: #dfdfdf;
}

.card-pokemon > .info__general > .info__pokemon_size > .info__pokemon-exp {
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #aaa9a9;
}

.card-pokemon > .info__general > .info__pokemon_size > p {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column-reverse;
}

.card-pokemon > .info__general > .info__pokemon_size > p > span {
  font-size: 14px;
  text-transform: lowercase;
}

.input-search {
  margin-bottom: 8%;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .input-search {
    margin-top: 5%;
    margin-bottom: 2%;
  }
}

.input-search > input[type="text"] {
  background: transparent;
  color: #fff;
  font-weight: 600;
}

.input-search > input[type="text"]:focus {
  box-shadow: none;
  border-color: #fff;
}

@keyframes imgAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
