.pokemon-moves__ability,
.pokemon-moves__moves {
  overflow: hidden;
}

.pokemon-moves__ability > .pokemon-special-move,
.pokemon-moves__moves > .pokemon-special-move {
  color: #dfdfdf;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 5px 0;
  background: #e35d5b;
  padding: 5px;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}

.pokemon-moves__ability > .pokemon-special-move.ability,
.pokemon-moves__moves > .pokemon-special-move.ability {
  background: radial-gradient(circle, #272b35 0%, #0f2027 100%);
  text-align: center;
}

.pokemon-moves__ability {
  width: 100%;
  transition: 0.5s ease height;
}

.pokemon-moves__moves {
  display: flex;
  flex-direction: column;
  height: 120px;
}
